#animateContainer {
    margin: 20px auto;
    background: green;
    padding: 10px 40px 20px;
    width: 500px;
    height: 220px;
    color: white;
    border: 5px solid brown;
    font-size: 20px;
}

.idt1 {
    margin-left: 40px;
}

.idt2 {
    margin-left: 80px;
}